header img {
    height: 3rem;
    color: var(--bgc-01);
}

@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: #5FC1CF;
    --bgc-02: #ECDECE;
    --bgc-03: #FFFFFF;
    --txt-01: #005B59;
    --txt-02: #161615;
    --txt-03: #FFFFFF;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-03);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

header {
    background-image: url(Footage/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg);
    background-size: cover;
    background-position-y: 110mm;
    color: var(--txt-03);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0 1rem;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'javanese text';
}

.item {
    justify-self: end;
}

header nav li {
    display: inline;
    padding-right: 1.7rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

#act .grid-container {
    grid-template-columns: 1fr 1.5fr 1fr;
}

.grid-card {
    overflow: hidden;
    height: 23rem;
}

img {
    display: block;
    width: 100%;
}

#lineup img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.act {
    position: relative;
    bottom: 15%;
    left: 0%;
    text-align: center;
    color: var(--txt-03);
    font-size: 1.5rem;
}

.venue {
    text-decoration: none;
    color: var(--txt-03);
    position: relative;
    bottom: 15%;
    left: 30%;
}

.date {
    text-decoration: none;
    color: var(--txt-03);
    position: relative;
    bottom: 15%;
    left: 30%;
}

a:hover {
    color: var(--bgc-01);
}

.line-up {
    margin-left: 7rem;
    margin-top: 5rem;
    font-size: 30px;
    color: var(--txt-01);
}

.stages {
    margin-left: 7rem;
    color: var(--bgc-01);
    margin-bottom: 0.4rem;
}

#act .stages {
    margin-left: 0rem;
}

h2 {
    font-family: 'harlow solid';
    font-size: 25Px;
}

h1 {
    font-family: 'showcard gothic';
    font-size: 30;
    font-weight: 100;
}

footer img {
    width: 3rem;
    display: inline-block;
}

footer {
    background-image: url(Footage/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg);
    background-size: cover;
    background-position-y: 150mm;
    text-align: center;
    height: 20rem;
}

.logo {
    background-color: var(--bgc-01);
    padding: 0.5rem;
    justify-self: center;
}

.icon-bg {
    align-items: center;
    background-color: var(--bgc-02);
    padding: 1rem;
    size: 2rem;
}

.icons {
    display: inline-block;
    font-size: 2rem;
    color: var(--txt-02);
}

.artist-icon {
    display: inline-block;
    font-size: 2.1rem;
    margin-top: 0.5rem;
}

footer i {
    font-size: 2rem;
    color: var(--txt-02);
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 1rem;
    text-align: left;
    padding-left: 7rem;
    color: var(--txt-02);
}

.grid-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.namen {
    font-size: 30px;
    color: var(--txt-01);
}

header input#burger {
    display: none;
}

header label[for="burger"] {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    padding: 1rem 1ch;
    background-color: var(--bgc-02);
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}

@media (width <=750px) {
    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: fixed;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        width: 100%;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;
    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }

    #act .grid-container {
        grid-template-columns: 1fr;
    }
}

iframe {
    height: 80%;
    width: 100%;
}